
* {
  padding: 0px;
  margin: 0px;
}

.basket {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(220, 219, 226, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  pointer-events: none;
}

.basket.show {
  opacity: 1;
  pointer-events: visible;
}

.basket-content {
  width: 500px;
  height: fit-content;
  border-radius: 26px;
  background: #f2e8cf;
  border: 3px solid #545454;
  transform: translateY(-150px);
  transition: all 0.5s ease-in-out;
}

.basket.show,
.basket-content {
  transform: translateY(5);
}

.basket-header,
.basket-footer {
  height: 50px;
  font-size: large;
  padding-bottom: 20px;
}

.basket-footer {
  display: flex;
  justify-content: end;
}

.basket-title {
  color: #545454;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 40px;
  letter-spacing: 4px;
  text-align: center;
}

.basket-body {
  padding: 10px;
  border-top: 3px solid  #545454;
  border-bottom: 3px solid  #545454;
  height: fit-content;
}

button {
  font-size: 20px;
  border: 3px solid white;
  background-color: #545454;
  color: white;
  margin-right: 20px;
  margin-top: 10px;
  letter-spacing: 3px;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: #545454;
  border: 3px solid #545454;
}

.navButton {
padding: 0px;
margin: 0px;
margin-top: 30px;
}

/* Nav Bar Styling */
nav {
  height: 125px;
  background-color: #f2e8cf;
  font-size: 25px;
  letter-spacing: 3px;
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid #545454;
  margin-bottom: 5px;
}

nav h1 {
  font-size: 90px;
  color: black;
  letter-spacing: 9px;
  font-style: italic;
  padding: 0px;
  margin: 15px;
}

.navLinks {
  height: 30px;
  color: #545454;
  padding: 0px;
  margin-top: 40px; 
  display: flex;
  justify-content: space-between;
}

.navLink1, .navLink2 {
  text-decoration: none;
  color: black;
  transition: all 5.0s ease-out;
}

.navLinks:hover {
  background-color: white;
  border: 3px solid #545454;
  border-style: ridge;
  transform: scale(1.20);
}

.navLinks:active {
  transform: scale(0.96)
}

.header {
  display: flex;
  justify-content: flex-start;
}

.about-section {
  background: url(./images/happy-cat.webp) no-repeat
    left;
  background-size: 55%;
  background-color: #fffdd0;
  overflow: hidden;
  padding: 20px 0;
}

.inner-container {
  width: 55%;
  float: right;
  background-color: #fdfdfd;
  padding: 150px 100px;
  margin-left: 600px;
}

.inner-container h1 {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900px;
}

.about-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
}

.text {
  font-size: 13px;
  color: #545454;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}

.skills {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 13px;
}

a {
  text-decoration: none;
  color: black;
}
